@media screen and (max-width: 1000px){
    .navigation{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .nav-left{
        flex-direction: column;
        text-align: center;
    }

    .content-right{
        display: none;
    }

    .home-article{
        flex-direction: column;
    }

    .home-article-img{
        text-align: center;
    }

    .year-box{
        top: 20px;
        display: flex;
        font-size: 11px;
    }

    .year-box div{
        margin: 0;
        padding: 0 4px;
    }

    .form-input{
        width: 50%;
        margin-left: 21px;
        margin-top: 16px;
    }

    .form-box input, textarea {
        width: 65vw;
    }

    .contact-content h2{
        font-size: 22px;
    }

    .row{
        flex-direction: column;
    }

    .social{
        display: flex;
        flex-direction: column;
    }

    .post-img{
        height: auto;
    }

    .blogpost-content h1{
        font-size: 20px;
    }
}